
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(
        rgba(11, 31, 58, 0.85),
        rgba(11, 31, 58, 0.85)
    ),
    url('background image.jpg');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: white;
    color: #f3f0f0;        /* black text */
    line-height: 1.6;
    text-decoration-color: #f3f0f0;
}

/* Navigation bar */
nav {
   display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0b1f3a;
    padding: 20px 10%;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    position: sticky;
}

/* Nav links */
nav a {
     color: #44d6e9;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
     color: #f5f8f8;
}



button:hover {
    background: #00aacc;

}

/* Header / Hero section */
header {
    text-align: left;
    padding: 60px 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

/* Sections */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}
  
/* Cards (for projects/services) */
.card {
    background: #ffffff;
    padding: 30px;
    margin: 20px 0;
    border-radius: 12px;
    border: 2px solid #140303;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    flex: 1;
    color: #080808;
}

.card:hover {
    transform: translateY(-10px);
}
.services-container {
    display: flex;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
}
.logo-container img {
   width: 165px; /* adjust size */
  height: 120px;
  position:  absolute;
  top: 10px; /* moves it slightly above the nav bar */ 
  right: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
}



.home-list {
  background: #eef0f1;     /* firm color */
  color: rgb(12, 12, 12);
  margin: 5px 0;
  padding: 15px;
  border-radius: 5px;
  list-style-type: disc;
}

.aboutus-list{
    background: #f3f0f0;
    color: #080808;
margin: 5px 0;
padding: 15px;
border-radius: 5px;
list-style-type: disc;

}

.contact-list{
    background: #eef0f1;
    color: #080808;
    margin: 5px 0;
    padding: 15px;
    border-radius: 5px;
    list-style-type: disc;

}
.title{
 font-size:30px; 
 font-weight: bold;
   
}